# Configurações do servidor backend
PORT=3000
NODE_ENV=development
TZ=America/Sao_Paulo

# PostgreSQL
DATABASE_URL=postgresql://witiquetas_app:sua_senha_aqui@postgres:5432/witiquetas

# MinIO / S3 Storage
S3_ENDPOINT=http://minio:9000
S3_REGION=eu-south
S3_BUCKET=witiquetas
S3_ACCESS_KEY=seu_access_key
S3_SECRET_KEY=sua_secret_key
S3_FORCE_PATH_STYLE=true
